.box{
    width: 150px;
    height: 150px;
    background-color: red;
    animation: colorChanger 3s infinite;
}
/* box{ */
    width: 150px;
    height: 150px;
    background-color: red;
    animation: colorChanger 3s infinite;
}
@keyframes colorChanger {
    0%{
        background-color: red;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: blue;
    }
    
}